#{extends 'main2.html' /}
#{set title:'Home' /}

<br>

<h3>Set mark for student: ${u.getUsername()}</h3>

#{form @Application.doSetMark(u.getUsername())}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="form-group">
            <div class="input-icon">
                <input class="form-control" type="text" placeholder="Mark (0-10)" id="mark" name="mark" />
            </div>
        </div>


        <div class="form-actions">
            <button id="register-submit" class="btn-bezel btn-primary pull-right submit">
                Set Mark
            </button>
        </div>


    </div>
</div>
#{/form}